<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acesso ao Sistema</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Usuário (E-mail)</ion-label>
          <ion-input type="email" [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-label position="floating">Tipo de Usuário</ion-label>
          <ion-select [(ngModel)]="userType" name="userType" interface="popover" required>
            <ion-select-option value="administrator">Administrador</ion-select-option>
            <ion-select-option value="teacher">Professor</ion-select-option>
            <ion-select-option value="student">Aluno</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button expand="block" type="submit" class="ion-margin-top">Entrar</ion-button>
      </form>

      <ion-text color="danger" *ngIf="errorMessage">
        <p class="ion-text-center ion-margin-top">{{ errorMessage }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>